@import '../node_modules/bootstrap/scss/bootstrap.scss';

$theme-colors: (
  "primary": rgba(243, 243, 243, 0.87),
  "popover": blanchedalmond,
  "success": rgb(110, 206, 142),
);

body {
  background-color: map-get($theme-colors, "primary");
}


.popover {
  background-color: map-get($theme-colors, "popover");
  border: 2px solid black;
  padding-left: 400px;
  padding-right: 420px;
  .vehicle-popover-container {
    background-color: map-get($theme-colors, "popover");
    border-color: map-get($theme-colors, "popover");
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 750px;
    align-self: center;
  }

  // .vehicle-popover-container .vehicle-popover-header {
  //   background-color: map-get($theme-colors, "success") !important;
  // }

  // .vehicle-popover-container .vehicle-popover-body {
  //   background-color: map-get($theme-colors, "popover") !important;
  //   color: #fff !important;
  // }
}

.single-vehicle-inventory-container {
  width: 500px;
  background-color: rgb(168, 166, 166);
  float: left;
  padding: 12px;
  padding-left: 34px;
  margin: 4px;
  border: 2px solid black;
}
