@import '../node_modules/bootstrap/scss/bootstrap.scss';

$theme-colors: (
  "background": rgb(240, 231, 218),
  "primary": rgba(74, 187, 189, 0.644),
  "secondary": rgba(201, 236, 236, 0.438),
  "popover": rgb(238, 225, 205)
);

body {
  background-color: map-get($theme-colors, "background");
  font-family: 'Monaco'
}

#navbar {
  display: flex;
  justify-content: center;
  background-color: map-get($map: $theme-colors, $key: "primary");
  height: 35px;
  border-bottom: 2px black solid;
  a {
    margin: 0 5% 0 5%;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
  #admin-toolkit-link {
    color: firebrick;
    font-weight: 900;
  }
}

#inventory-body {
  margin: 2% 2.5% 0 2.5%;
  h2 {
    margin-top: 2.5%;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

#inventory-filter {
  margin-left: 5%;
  margin-bottom: 1%;
}

#site-banner {
  background-image: url("./assets/banner-background.jpg");
  background-size: cover;
  height: 284px;
  z-index: 0;
}

#site-banner::before {
  content: "";
  height: 284px;
  width: 100%;
  background-color: rgb(170, 214, 212);
  border-bottom: 3px black solid;
  opacity: 80%;
  position: absolute;
  z-index: 1;
}

#site-banner > img {
  display: block;
  width: 55%;
  max-width: 1200px;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  position: relative;
  z-index: 2;
}

#add-inventory-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px auto;
  width: 800px;
  border: 3px outset black;
  padding-bottom: 40px;
  background-color: map-get($map: $theme-colors, $key: "secondary" );
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    #add-inventory-headline-input {
      width: 400px;
    }
    #add-inventory-description-input {
      width: 400px;
      height: 150px;
    }
  }
  form > * {
    margin-top: 3px;
    width: 200px;
  }
  form > button {
    margin-top: 20px;
    background-color: green;
  }
}

.single-vehicle-inventory-container {
  width: 500px;
  background-color: map-get($map: $theme-colors, $key: "secondary");
  float: left;
  padding: 12px;
  padding-left: 34px;
  margin: 4px;
  border: 2px solid black;
  cursor: pointer;
}

.popover {
  background-color: map-get($theme-colors, "popover");
  border: 2px solid black;
  padding-left: 400px;
  padding-right: 420px;

  .vehicle-popover-container .vehicle-popover-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
    align-items: center;
  }

  .vehicle-popover-container {
    background-color: map-get($theme-colors, "popover");
    border-color: map-get($theme-colors, "popover");
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 750px;
    align-self: center;
  }
}